.containerPrincipal{    
    height: 100vh; 
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    text-align: center; 
}

.containerInput{
    padding: 0 4rem;
}

.containerInput input{
    height: 2rem;
    width: 100%;

    border: 1px solid lightgray;
    border-radius: 3px;

    padding: 1.2rem;
}

.containerInput input:focus{
    outline: none;
}

.gridMember{
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
}